---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog Blog</title>
	</head>
	<body>
		<a href="/">Inicio</a>
		<a href="/about">Sobre mi</a>
		<a href="/blog">Blog</a>

		<h1>Este es mi Blog</h1>
        <h2>En esta pagina podras encontrar mi blog y todos mis post</h2>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate vero consequuntur impedit reiciendis provident veritatis ex id quidem consequatur vel voluptatem ipsum quod sed, ipsam molestiae eligendi odio dolores ratione?
        Eius dicta ea ipsum error explicabo est, facilis ex corrupti assumenda qui laudantium fugit illum impedit nobis commodi hic cupiditate dolor eligendi beatae. Fuga veniam consectetur expedita aliquid modi laboriosam.
        Placeat ab fugiat illo, laudantium cumque nemo. Aliquid distinctio quo minima cum earum sunt vero! Quod nihil ipsa hic facere. Ratione ut ad nostrum illum quasi natus at, consectetur soluta.
        Odit quia qui vero non quidem beatae illum numquam fugiat vel consequuntur. Enim numquam ea temporibus aspernatur vitae quis voluptatem quisquam commodi amet modi. Corrupti perferendis quod blanditiis ab esse!
        Magnam rem, odit ad, ipsum quia doloremque, ab eligendi repellendus cumque eveniet non. Iste totam sunt velit dicta ipsum voluptatibus sit cum. Provident sint quaerat voluptatum sapiente. Soluta, iusto consequatur!
        Atque, ipsum in. Consequuntur ullam nostrum debitis. Eius, dolor inventore. Deleniti, nisi. Aperiam impedit, dolores quas suscipit saepe vel quidem illum doloribus magni assumenda, quia delectus magnam veniam dolor quos.
        Non, qui iusto. Necessitatibus itaque placeat ea ratione. Eligendi nisi nam consequuntur nulla omnis porro hic, quidem sint autem mollitia distinctio tempore itaque non delectus facilis praesentium! Deleniti, aliquid laborum!
        Nobis in, quos veniam dignissimos omnis iste nulla sequi minus magnam quo assumenda, tempore dolores natus asperiores eum debitis consequuntur vero cum vitae minima ipsam at. Porro aut praesentium tempora.
        Officiis laudantium nihil incidunt voluptatibus totam omnis unde asperiores optio voluptas aliquid reiciendis, porro temporibus, delectus natus, pariatur quidem nostrum quam voluptatem ipsa beatae minima! Nihil soluta itaque ab dolor?
        Accusantium quisquam mollitia aut a sed. Cum pariatur, alias architecto voluptatum iusto nam! Doloremque molestiae nemo placeat fugit omnis temporibus minima veritatis et vel dolorum architecto eligendi inventore, rem quam?</p>


        <ul>
            <li><a href="/post/post-1">Post-1</a></li>
            <li><a href="/post/post-2">Post-2</a></li>
        </ul>
	</body>
</html>
